<body style="background-image: url(../../assets/images/placeholder-modeler.png);">
    <br>
<div class="container" style="background-color: white;">
    En la siguiente sección encontrará las últimas actualizaciones del desarrollo del modelador.
</div>
<div class="container" >
    <br>
<table class="table rounded" style="background-color: white;">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Actualización</th>        
        <th scope="col">Autor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th *ngFor="" scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>   
      <tr>
        <th *ngFor="" scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>  
      <tr>
        <th *ngFor="" scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>  
      <tr>
        <th *ngFor="" scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>     
    </tbody>
  </table>
  <br>
</div>
</body>