<body>
    <br>
<div class="container" style="background-color: white;">
    En la siguiente sección encontrará las últimas actualizaciones del desarrollo del modelador.
</div>
<div class="container" >
    <br>
<table class="table rounded" style="background-color: white;">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Actualización</th>        
        <th scope="col">Autor</th>
      </tr>
    </thead>
    <tbody>
      <tr>       
        <td>26/09/2022</td>
        <td>Se añade la opción de un modelador BPMN con funciones Drag and Drop
        </td>
        <td>Rodrigo Agama</td>
      </tr>     
      <tr>       
        <td>23/09/2022</td>
        <td>Se agrega la tabla de relaciones de estereotipos con reglas de transformacion
        </td>
        <td>Rodrigo Agama</td>
      </tr>     
      <tr>       
        <td>22/09/2022</td>
        <td>Se añaden los datos de reglas de transformación y estereotipos.          
        </td>
        <td>Rodrigo Agama</td>
      </tr>     
      <tr>       
        <td>18/09/2022</td>
        <td>¡Se lanza el primer prototipo de la aplicación! Ya se tiene un esqueleto sobre el que trabajar el modelador. Para el siguiente entregable se tendrán interacciones con APIs y un canvas para imagenes
          <br><img style="height: 100px;" src="https://cdn-icons-png.flaticon.com/512/2242/2242681.png">
        </td>
        <td>Rodrigo Agama</td>
      </tr>     
    </tbody>
  </table>
  <br>
</div>
</body>