<body style="background-image: url(../assets/images/landingImage.png);">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="texto-intro">
                    <h2 class="">Bienvenido al modelador extendido EduModeler</h2>
                    <p class="">
                        Esta herramienta permite le desarrollo de modelos BPMN extendidos utilizando estereotipos.<br>
                        ¿Primera vez utilizando la herramienta? ¡Revisa la Documentación! <br>
                        ¿Ya eres usuario? Selecciona el tipo de trabajo
                    </p>
                </div>
                <button type="button" class="btn btn-primary">Iniciar Nuevo</button>
                <a>   </a>
                <!--<button type="button" class="btn btn-primary" style="padding-left: 120px;">Cargar Último</button> -->
            <br>
            <br>
            <br>              
            </div>            
            <div class = "col-sm">
                <img alt="">
            </div>
        </div>
    </div>
    </body>