<section class="seccion-1" >

  <nav class="navbar navbar-expand-lg"  style="background-color: #1784c7;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Edumodeler</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/modeler" (click)="toggleModeler(true)">Modelador</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/documentacion" (click)="toggleModeler(false)">Documentación</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/noticias" (click)="toggleModeler(false)">Noticias</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  
</section>
<div *ngIf="showModeler">
<h1> Modelador Bpmn</h1>

<div class="diagram-parent">
  <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)"></app-diagram>

  <div class="import-error" *ngIf="importError">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
</div>
</div>