<body>
  <section class="seccion-1" >
      <nav class="navbar navbar-expand-lg navgar-light" style="background-color: #1784c7;">
          <a class="navbar-brand" href="#" style="padding-left: 120px">EduModeler</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-md-auto">
                  <a class="nav-item nav-link" routerLink="/modeler">Modelador</a>
                  <a class="nav-item nav-link" routerLink="/documentacion">Documentación</a>
                  <a class="nav-item nav-link" routerLink="/noticias">Noticias</a>
              </div>
          </div>
      </nav>
      <router-outlet></router-outlet>
  </section>
  
<br>
</body>
<div class = "text-center" style = "color: rgb(0, 0, 0)"> ®️ Rodrigo Agama. Proyecto de Tesis 2022-2</div>
